/* --- ISSUES/NOTES --- */

div.issue-title,
div.note-title,
div.ednote-title,
div.warning-title {
	padding-right: 1em;
	min-width: 7.5em;
	color: #b9ab2d;
}

div.issue-title {
	color: #e05252;
}

div.note-title,
div.ednote-title {
	color: #2b2;
}

div.warning-title {
	color: #f22;
}

div.issue-title span,
div.note-title span,
div.ednote-title span,
div.warning-title span {
	text-transform: uppercase;
}

div.note,
div.issue,
div.ednote,
div.warning {
	margin-top: 1em;
	margin-bottom: 1em;
}

.note>p:first-child,
.ednote>p:first-child,
.issue>p:first-child,
.warning>p:first-child {
	margin-top: 0
}

.issue,
.note,
.ednote,
.warning {
	padding: .5em;
	border-left-width: .5em;
	border-left-style: solid;
}

div.issue,
div.note,
div.ednote,
div.warning {
	padding: 1em 1.2em 0.5em;
	margin: 1em 0;
	position: relative;
	clear: both;
}

span.note,
span.ednote,
span.issue,
span.warning {
	padding: .1em .5em .15em;
}

.issue {
	border-color: #e05252;
	background: #fbe9e9;
}

.note,
.ednote {
	border-color: #52e052;
	background: #e9fbe9;
}

.warning {
	border-color: #f11;
	border-width: .2em;
	border-style: solid;
	background: #fbe9e9;
}

.warning-title:before {
	content: "⚠";
	/*U+26A0 WARNING SIGN*/
	font-size: 3em;
	float: left;
	height: 100%;
	padding-right: .3em;
	vertical-align: top;
	margin-top: -0.5em;
}

li.task-list-item {
	list-style: none;
}

input.task-list-item-checkbox {
	margin: 0 0.35em 0.25em -1.6em;
	vertical-align: middle;
}
/* Force W3C logo to site side by side with OGC logo */

.head img[src*="logos/W3C"] {
	display: inherit !important;
}

.head a:hover>img[src*='ogc'] {
	opacity: 0.8;
}
/* Table styles, March 2016 */

table {
	border-collapse: collapse
}

th,
td {
	border: thin solid black;
	padding: 0.3em;
}

.inlineCode {
	FONT-FAMILY: "courier new";
	BACKGROUND-COLOR: #ddf
}

PRE.code {
	BORDER-RIGHT: #999999 1pt solid;
	PADDING-RIGHT: 0.5em;
	BORDER-TOP: #999999 1pt solid;
	PADDING-LEFT: 0.5em;
	PADDING-BOTTOM: 0.5em;
	BORDER-LEFT: #999999 1pt solid;
	PADDING-TOP: 0.5em;
	BORDER-BOTTOM: #999999 1pt solid;
	FONT-FAMILY: "courier new";
	BACKGROUND-COLOR: #eef
}

PRE.code2 {
	BORDER-RIGHT: #999999 1pt solid;
	PADDING-RIGHT: 0.5em;
	BORDER-TOP: #999999 1pt solid;
	PADDING-LEFT: 0.5em;
	PADDING-BOTTOM: 0.5em;
	BORDER-LEFT: #999999 1pt solid;
	PADDING-TOP: 0.5em;
	BORDER-BOTTOM: #999999 1pt solid;
	FONT-FAMILY: "courier new";
	BACKGROUND-COLOR: #ffa
}

.ednote {
	FONT-STYLE: italic
}

PRE.clientmsg {
	BORDER-RIGHT: #999 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #999 1px solid;
	PADDING-LEFT: 2px;
	BACKGROUND: #eee;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px;
	BORDER-LEFT: #999 1px solid;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #999 1px solid
}

PRE.servermsg {
	BORDER-RIGHT: #999 1px solid;
	PADDING-RIGHT: 2px;
	BORDER-TOP: #999 1px solid;
	PADDING-LEFT: 2px;
	BACKGROUND: #eee;
	PADDING-BOTTOM: 2px;
	MARGIN: 5px 0px 0px;
	BORDER-LEFT: #999 1px solid;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #999 1px solid;
	TEXT-ALIGN: left
}

P.msg {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	TEXT-ALIGN: center
}

DIV.interaction {
	BORDER-RIGHT: #999 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #999 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #999 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #999 1px solid
}

DIV.interaction H4 {
	MARGIN: 0px 0px 10px
}

DIV.interaction P {
	MARGIN: 0px
}

DIV.test {
	BORDER-RIGHT: #999 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #999 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	BORDER-LEFT: #999 1px solid;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #999 1px solid
}

DIV.test H4 {
	MARGIN: 0px 0px 10px
}

.hljs {
	background: transparent !important;
}
/* --- INLINES --- */

h1 abbr,
h2 abbr,
h3 abbr,
h4 abbr,
h5 abbr,
h6 abbr,
a abbr {
	border: none;
}

dfn {
	font-weight: bold;
}

a.internalDFN {
	color: inherit;
	border-bottom: 1px solid #99c;
	text-decoration: none;
}

a.externalDFN {
	color: inherit;
	border-bottom: 1px dotted #ccc;
	text-decoration: none;
}

a.bibref {
	text-decoration: none;
}

cite .bibref {
	font-style: normal;
}

code {
	color: #c83500;
}

th code {
	color: inherit;
}
/* --- TOC --- */

.toc a,
.tof a {
	text-decoration: none;
}

a .secno,
a .figno {
	color: #000;
}

ul.tof,
ol.tof {
	list-style: none outside none;
}

.caption {
	margin-top: 0.5em;
	font-style: italic;
}
/* --- TABLE --- */

table.simple {
	border-spacing: 0;
	border-collapse: collapse;
	border-bottom: 3px solid #005a9c;
}

.simple th {
	background: #005a9c;
	color: #fff;
	padding: 3px 5px;
	text-align: left;
}

.simple th[scope="row"] {
	background: inherit;
	color: inherit;
	border-top: 1px solid #ddd;
}

.simple td {
	padding: 3px 10px;
	border-top: 1px solid #ddd;
}

.simple tr:nth-child(even) {
	background: #f0f6ff;
}
/* --- DL --- */

.section dd>p:first-child {
	margin-top: 0;
}

.section dd>p:last-child {
	margin-bottom: 0;
}

.section dd {
	margin-bottom: 1em;
}

.section dl.attrs dd,
.section dl.eldef dd {
	margin-bottom: 0;
}

#issue-summary>ul,
.respec-dfn-list {
	column-count: 2;
}

#issue-summary li,
.respec-dfn-list li {
	list-style: none;
}

details.respec-tests-details {
	margin-left: 1em;
	display: inline-block;
	vertical-align: top;
}

details.respec-tests-details>* {
	padding-right: 2em;
}

details.respec-tests-details[open] {
	z-index: 999999;
	position: absolute;
	border: thin solid #cad3e2;
	border-radius: .3em;
	background-color: white;
	padding-bottom: .5em;
}

details.respec-tests-details[open]>summary {
	border-bottom: thin solid #cad3e2;
	padding-left: 1em;
	margin-bottom: 1em;
	line-height: 2em;
}

details.respec-tests-details>ul {
	width: 100%;
	margin-top: -0.3em;
}

details.respec-tests-details>li {
	padding-left: 1em;
}

@media print {
	.removeOnSave {
		display: none;
	}
}
/* github.com style (c) Vasily Polovnyov <vast@whiteants.net> */

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: #333;
	background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
	color: #998;
	font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
	color: #333;
	font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
	color: #008080;
}

.hljs-string,
.hljs-doctag {
	color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
	color: #900;
	font-weight: bold;
}

.hljs-subst {
	font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
	color: #458;
	font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
	color: #000080;
	font-weight: normal;
}

.hljs-regexp,
.hljs-link {
	color: #009926;
}

.hljs-symbol,
.hljs-bullet {
	color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
	color: #0086b3;
}

.hljs-meta {
	color: #999;
	font-weight: bold;
}

.hljs-deletion {
	background: #fdd;
}

.hljs-addition {
	background: #dfd;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}